.container {
    text-align: center;
    background-color: #E1FFEE;
    padding: 0%;
    min-height: 100vh;

}

.container #results {
    color: #7FBCD2;
    font-size: 25px;
    font-weight: 400;
}

#bmicalc {
    margin: center;
    text-align-last: center;
    background-color: #89CFFD;
    color: #FBDF07;
    padding: 40vh;
}

.container #weight, #height {
    width: 60px;
    height: 20px;
    font-size: 15px;
    border-radius: 12px;
   
    
}
h1 {
    font-size:30px;
}

h2 {
    font-size: 3px;
}

button {
    display: inline-block;
    border-radius: 10px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 20px;
    width: 200px;
    transition: all 0.3s;
    cursor: pointer;
    margin: 5px;
  }
  
  button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  button:hover span {
    padding-right: 25px;
  }
  
  button:hover span:after {
    opacity: 1;
    right: 0;
  }